<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  <body>
    <div>
      <section>
        <header>
          <div id="profile">
            <h1>Hello <span th:text="${authenticatedUser}"></span></h1>
            <div id="profile-photo"></div>
          </div>
          <div id="rigth-header">
            <form action="/logout" method="post">
              <button type="submit">logout</button>
            </form>
          </div>
        </header>
      </section>
    </div>
    <div id="container">
      <section id="dashboard">
        <h3><a href="#" id="home">Home</a></h3>
        <h3><a href="#" id="statement">Statement of Results</a></h3>
        <h3><a href="#" id="courses">Registered Courses</a></h3>
        <h3><a href="" id="info">User info</a></h3>
        <h3><a href="" id="">Calender</a></h3>
        <h3><a href="" id="annoucements">Annoucements</a></h3>
        <h3><a href="" id="events">Upcoming Events</a></h3>
        <h3><a href="" id="clubs">Clubs</a></h3>
        <h3><a href="" id="fees">Fees</a></h3>
        <h3><a href="" id="assignments">Assignments</a></h3>
        <h3><a href="" id="exam">Exams</a></h3>
        <h3><a href="" id="learning">Learning Materials</a></h3>
        <h3><a href="" id="questions">Past Questions</a></h3>
        <h3><a href="" id="library">Library Services</a></h3>
      </section>
      <section id="dashboard-info">
        <iframe
          id="userFrame"
          width="100%"
          height="100%"
          src="http://localhost:8080/user/home"
        ></iframe>
      </section>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
