header {
    display: flex;
    background-color: orchid;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#dashboard {
    width: 30%;
    background-color: red;
    overflow: scroll;
    height: 100vh;
}

#dashboard-info {
    width: 70%;
    background-color: teal;
    overflow: scroll;

}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    overflow: hidden;
}

#profile-photo {
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#profile {
    width: 25%;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#home {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    width: 300px;
    border-radius: 20%;
    background-color: white;
    margin: 10px;
    text-align: center;
}

#right-header {
    width: 70%;
    background-color: rgb(8, 8, 8);
}