<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Sign In</title>
  </head>
  <body>
    <div id="page-container">
      <section id="left-animation">
        <video
          src="https://cdn.dribbble.com/uploads/48226/original/b8bd4e4273cceae2889d9d259b04f732.mp4?1689028949"
          autoplay=""
          loop=""
          muted=""
        ></video>
      </section>

      <section id="right-form">
        <div id="form-container">
          <h3>Sign in to your Website</h3>

          <div class="space"></div>
          <form action="">
            <button id="google-button">
              <img src="/images/google2.png" alt="Google logo" />
              Sign in with Google
            </button>
          </form>

          <div class="space"></div>
          <form action="/logins" method="post" th:object="${user}">
            <p id="separator">or sign in with email</p>

            <div class="space"></div>
            <label for="email">Username or Email</label>

            <div class="space"></div>
            <input type="email" />

            <div class="space"></div>
            <label for="password">Password</label>

            <div class="space"></div>
            <input type="password" />

            <div class="space"></div>
            <button>Sign In</button>
            <div class="space"></div>

            <p>
              Don't have an account?
              <a href="/signUp">Sign up</a>
            </p>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
