<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Sign Up</title></head
  ><!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/css/style.css" />
      <title>Sign Up</title>
    </head>
    <body>
      <div id="page-container">
        <section id="left-animation">
          <video
            src="https://cdn.dribbble.com/uploads/48292/original/30fd1f7b63806eff4db0d4276eb1ac45.mp4?1689187515"
            autoplay=""
            loop=""
            muted=""
          ></video>
        </section>
        <section id="right-form">
          <div id="form-container">
            <h3>Sign up to your Website</h3>
            <div class="space"></div>
            <button>
              <img src="/images/google2.png" alt="Google logo" />
              Sign up with Google
            </button>
            <div class="space"></div>
            <p id="separator">or</p>

            <div class="space"></div>
            <form action="/signUpEmail" method="get">
            <button id="google-button">Continue with email</button>
            </form>

            <div class="space"></div>
            <p>
              Already have an account?
              <a href="/login">Sign In</a>
            </p>
          </div>
        </section>
      </div>
    </body>
  </html>
</html>
