<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Sign In</title>
  </head>
  <body>
    <div id="page-container">
      <div id="left-animation"></div>
      <div id="right-form">
        <div id="form-container">
          <form action="" method="post">
            <h3>Sign in to Dribble</h3>
            <button>Sign up with Google</button>
            <p id="separator">or sign up with email</p>
            <label for="email">Email</label>
            <input type="email" />
            <label for="password">Email</label>
            <input type="password" />
            <button>Sign Up</button>
            <p>Don't have an account? Sign up</p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
